<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @profile.username %>
</p>

<p>
  <b>Real name:</b>
  <%= @profile.real_name %>
</p>

<p>
  <b>Profile pic:</b>
  <%= @profile.profile_pic %>
</p>

<p>
  <b>Interests:</b>
  <%= @profile.interests %>
</p>

<p>
  <b>Major:</b>
  <%= @profile.major %>
</p>

<p>
  <b>Year:</b>
  <%= @profile.year %>
</p>

<p>
  <b>Student:</b>
  <%= @profile.student %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
