<h1>Listing sus</h1>

<table>
  <tr>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>Q4</th>
    <th>Q5</th>
    <th>Q6</th>
    <th>Q7</th>
    <th>Q8</th>
    <th>Q9</th>
    <th>Q10</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sus.each do |su| %>
  <tr>
    <td><%= su.q1 %></td>
    <td><%= su.q2 %></td>
    <td><%= su.q3 %></td>
    <td><%= su.q4 %></td>
    <td><%= su.q4 %></td>
    <td><%= su.q5 %></td>
    <td><%= su.q6 %></td>
    <td><%= su.q7 %></td>
    <td><%= su.q8 %></td>
    <td><%= su.q9 %></td>
    <td><%= su.q10 %></td>
    <td><%= su.score %></td>
    <td><%= link_to 'Show', su %></td>
    <td><%= link_to 'Edit', edit_su_path(su) %></td>
    <td><%= link_to 'Destroy', su, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sus', new_su_path %>
