<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @meal_meeting.title %>
</p>

<p>
  <b>Interests:</b>
  <%= @meal_meeting.interests %>
</p>

<p>
  <b>Time:</b>
  <%= @meal_meeting.time %>
</p>

<p>
  <b>Location:</b>
  <%= @meal_meeting.location %>
</p>


<%= link_to 'Edit', edit_meal_meeting_path(@meal_meeting) %> |
<%= link_to 'Back', meal_meetings_path %>
